## 导入数据

In [ ]:
import sys
## 用sys.path.append('../')把上级目录加入到环境变量中,这样才能找到上级目录的文件才能导入我们的数据获取函数
sys.path.append('../')
from datasets.get_candlesticks import get_dataFrame
data = get_dataFrame('btc','usdt','1H')

In [6]:
data.to_csv('../datasets/btcusdt.csv',index=False)

## 使用模型进行预测

In [32]:
!git clone https://github.com/thuml/Time-Series-Library.git

正克隆到 'Time-Series-Library'...
remote: Enumerating objects: 809, done.
remote: Counting objects: 100% (352/352), done.
remote: Compressing objects: 100% (70/70), done.
remote: Total 809 (delta 318), reused 284 (delta 282), pack-reused 457
接收对象中: 100% (809/809), 11.06 MiB | 6.00 MiB/s, 完成.
处理 delta 中: 100% (592/592), 完成.

In [33]:
import pandas as pd
data = pd.read_csv('../datasets/btcusdt.csv',index_col='date')

In [34]:
data.head()

,open,high,low,close,volume,currency_volume
date,,,,,,
2023-06-09 03:00:00,26454.4,26540.7,26400.0,26479.1,10378548,10378.548
2023-06-09 02:00:00,26502.7,26550.0,26310.0,26454.5,11629795,11629.795
2023-06-09 01:00:00,26454.7,26597.9,26438.4,26502.6,8280120,8280.120
2023-06-09 00:00:00,26502.4,26514.3,26432.2,26455.3,7596199,7596.199
2023-06-08 23:00:00,26542.1,26600.0,26488.2,26502.1,4933869,4933.869

In [36]:
testlen= int(data.shape[0]*0.2)
test_data = data.iloc[:testlen,:]
train_data = data.iloc[testlen:,:]
train_data.to_csv('Time-Series-Library/dataset/btcusdttrain.csv')

In [37]:
test_data.to_csv('Time-Series-Library/dataset/btcusdttest.csv')